.navbar {
    background-color: rgb(10 68 70);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: bold; */
    border-radius: 30px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 12px 23px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar li a:hover {
    color: rgb(131, 14, 14);
}

.search {
    float: right;
    color: rgb(255, 255, 255);
    padding: 12px 66px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 1px 19px;
    width: 140px;
}